!!!
html(lang="en")
	head
		title Stellar Naval Simulator
		link(rel="stylesheet", href="samples/main.css")
		script(src="samples/script.js")
	body
		h1 Stellar Naval Simulator
		#container
			a.button Button!