!!!
html(lang="en")
	head
		title Stellar Naval Simulator
		link(rel="stylesheet", href="util/simulator.css")
		meta(http-equiv="content-type", content="text/html; charset=UTF8")

		script(src="vendor/underscore.js")
		script(src="vendor/zepto.js")

		script(src="vendor/dat.gui.js")
		script
			$(function(){window.dat = new dat.GUI();})

		script(src="vendor/three.js")
		script(src="vendor/detector.js")
		script(src="vendor/stats.js")
		script(src="vendor/numeric-1.2.6.js")
		script(src="vendor/d3/d3.v3.js")
		script(src="util/d3d.js")

		script(src="vendor/three/loaders/Collada.js")

		script(src="util/three/controls/Trackball.js")
		script(src="util/three/controls/Chase.js")
		script(src="util/three/raycaster.js")
		script(src="util/mathematics/vec.js")
		script(src="util/mathematics/quaternion.js")
		script(src="util/mathematics/solvers.js")
		script(src="util/mathematics/celestial_sphere.js")
		script(src="util/findNaN.js")

		script(type="text/javascript")
			var stage = '#{stage}';
		script(data-main="main.js", src="vendor/require.js")
	body
		#simulator
