!!!
html(lang="en")
	head
		title Stellar Naval Simulator
		link(rel="stylesheet", href="util/simulator.css")
		script(src="vendor/zepto.js")
		script(src="vendor/three.js")
		script(data-main="main.js", src="vendor/require.js")
	body
		#simulator
